{% load static %}
{% block content %}

<div style="text-align: center;"><img src="{{protocol}}://{{domain}}/static/assets/images/logo-pdf.png" width="330" height="140" alt="Iamts-Logo"></div>
<div style="display: inline-block;">Rosters -</div><div style="display: inline-block;"> {{ today }} </div>
<table style="text-align: left;width: 100%;">
    
    <tr>
        <th style="width:35px;text-align: left;width: 70px;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            S.No.
        </th>
        <th style="width:100px;text-align: left;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Roster Name
        </th>
        <th style="width:50px;text-align: left;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Roster Number
        </th>

        <th style="width:70px;text-align: center;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Department
        </th>
        <th style="width:150px;text-align: center;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Date
        </th>
        <th style="width:150px;text-align: center;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Time
        </th>
        <th style="width:70px;text-align: left;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Week Offs
        </th>
        <th style="width:50px;text-align: left;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            Status
        </th>
        <th style="width:55px;text-align: left;border: 1px solid #000;vertical-align: middle;margin-bottom: 0;padding: 4px 2px 0;">
            No. of Members
        </th>
    </tr>
    {% for roster in data %}
    <tr style="-pdf-word-wrap: CJK; color: {{roster.leave_class}}; " >
       <td style="width:35px;border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{forloop.counter}}
        </td>
        <td style="border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.name}}
        </td>
        <td style="border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.roster_no}}
        </td>
        <td style="text-align:center;border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.department}}
        </td>
        <td style="text-align:center;border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.date}}
        </td>
        <td style="text-align:center;border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.time}}
        </td>
        <td style="border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.week_offs}}
        </td>
        <td style="width:50px;border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.status}}
        </td>
        <td style="border: 1px solid #000;vertical-align: middle;padding: 4px 2px 0;">
            {{roster.no_of_members}}
        </td>
    </tr>
    {% endfor %}
</table>
{% if not data %}
<div style="padding: 0px 2px 0;"><h1 style="text-align: center;">No Data Found</h1></div>
{% endif %}
{% endblock %}