<!DOCTYPE html>
{% load static %}
{% load add_attr %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/js/jquery.validate.min.js" %}'></script>
    <link href='{% static "assets/images/favicon.ico" %}' rel="icon" type="image/png" />
    <link rel="apple-touch-icon" sizes="57x57" href='{% static "assets/images/apple-icon-57x57.png" %}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "assets/images/apple-icon-60x60.png" %}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "assets/images/apple-icon-72x72.png" %}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "assets/images/apple-icon-76x76.png" %}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "assets/images/apple-icon-114x114.png" %}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "assets/images/apple-icon-120x120.png" %}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "assets/images/apple-icon-144x114.png" %}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "assets/images/apple-icon-152x152.png" %}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/images/apple-icon-180x180.png" %}'>
    <link rel="icon" type="image/png" sizes="196x196" href='{% static "assets/images/android-icon-196x196.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "assets/images/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "assets/images/favicon-16X16.png" %}'>
    <link rel="icon" type="image/png" sizes="100x100" href='{% static "assets/images/favicon-100x100.png" %}'>
</head>
<body>
    <h1 class="lg-head">Reset Password</h1>

    {% if validlink %}
    <form class="reg-form" method="POST" id="set_password" autocomplete="nan">
         {% if messages %}
        {% for message in messages %}
            {% if message is not None %}
                <div  id="message_list" class="messagelist alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
        {% csrf_token %}
        {{form.non_field_errors}}
        <div class="form-group">
            <div class="view">{{form.new_password1|add_attr:"class:cus-box, placeholder: New Password" }}<i class="eye" id="eye_btn"></i></div>
              {{form.new_password1.errors}}
        </div>
        <div class="form-group">
            <div class="view">{{form.new_password2|add_attr:"class:cus-box, placeholder: Confirm Password" }}<i class="eye" id="eye_btn1"></i></div>
        </div>
         <input type="submit" value="Change my password" class=" blue-btn">
    </form>
    {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
</body>
</html>