<!DOCTYPE html>
<html lang="en">
<head>
<title>Reset Password</title>
</head>
<body>
{% load static %}
{% autoescape off %}
<div style="max-width: 600px;width:100%;margin: 50px auto;font-family: arial;font-size: 14px;">
	<div style="background:#163756;padding: 25px 20px 20px;text-align: center;">
		<img src="{{protocol}}://{{domain}}/static/assets/images/header-logo.png" width="126" height="42" alt="IAMTS">
	</div>
	<div style="padding: 20px;background:#f4f4f4;">
		<p style="margin-top:0;">To initiate the password reset process  for  your IAMTS Account against email <b>{{ user.get_username }}</b> </p>
		<p style="margin-top:0;"><a href="{{ protocol }}://{{ domain }}{% url 'change_password' uidb64=uid token=token %}">Click Here </a>to reset your Password.</p>
		<p style="">If that doesn't work, copy and paste the following link in your browser:
			<a href="{{ protocol }}://{{ domain }}{% url 'change_password' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'change_password' uidb64=uid token=token %} </a> </p>
		<p><b style="color:#555555;">Note:</b> Password Reset link is valid  for 1 hour.</p>
		<br>
		<br>
		<div>Warm Regards,</div>
		<div>Team <b>IAMTS</b></div>
		</div>
		<div style="font-size: 15px;color:#fff;background:#163756;padding: 30px 20px;text-align: center;">&#169; 2021 IAMTS. All Rights Reserved</div>
	</div>
	<div style="text-align:center;padding-top: 20px;">
	</div>
</div>
{% endautoescape %}
</body>
</html>