<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Password reset complete</title>
    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/js/jquery.validate.min.js" %}'></script>
    <link rel="apple-touch-icon" sizes="57x57" href='{% static "assets/images/apple-icon-57x57.png" %}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "assets/images/apple-icon-60x60.png" %}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "assets/images/apple-icon-72x72.png" %}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "assets/images/apple-icon-76x76.png" %}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "assets/images/apple-icon-114x114.png" %}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "assets/images/apple-icon-120x120.png" %}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "assets/images/apple-icon-144x114.png" %}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "assets/images/apple-icon-152x152.png" %}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/images/apple-icon-180x180.png" %}'>
    <link rel="icon" type="image/png" sizes="196x196" href='{% static "assets/images/android-icon-196x196.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "assets/images/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "assets/images/favicon-16X16.png" %}'>
    <link rel="icon" type="image/png" sizes="100x100" href='{% static "assets/images/favicon-100x100.png" %}'>
    <link href='{% static "assets/images/favicon.ico" %}' rel="icon" type="image/png" />
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message is not None %}
            <div id="success-alert" class="messagelist alert {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
              {{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<h1>Reset password Complete</h1>
<p>Your new password has been set. You can log in now on the <a class="rest-pass-login" href="/login">log in page</a>.</p>
</body>
</html>