
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no ">
    <title>Change Password</title>
    <link href='{% static "assets/images/favicon.ico" %}' rel="icon" type="image/png" />
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/all.css" %}'>
    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/js/jquery.validate.min.js" %}'></script>
    <script src='{% static "assets/js/popper.min.js" %}'></script>
    <script src='{% static "assets/js/bootstrap.min.js" %}'></script>
</head>
<body>

    <div class="row no-margin full-height justify-content-center h-100">
        <div class="col-lg-12 col-xl-6 pr-lg-0 pr-md-0 pr-sm-0 pr-0 pl-lg-0 pl-md-0 pl-sm-0 pl-0">
            <div class="outer-wrapper align-items-center d-flex">
                <div class="form-blk">
                    <div class="logo-section text-center">
                        <img src="/static/assets/images/sign-up.png" width="271" height="84" alt="Login" class="img-fluid">
                    </div>
                    <div id="error-msge" class="cus-alert alert alert-danger alert-dismissible" style="display: None;">
                        <button type="button" class="close">&times;</button>
                        <!-- <i class="fas fa-times-circle"></i>--> <span id="error_txt"></span>
                    </div>
                   <form id="password_form" method="POST" class="user-form login-form">
                   {% if messages %}
                    {% for message in messages %}
                        {% if message is not None %}
                            <div id="success-alert" class="alert alert-danger alert-dismissible fade show  {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                              {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                   <h1>Change password Page</h1>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.errors }}
                    <div class="form-group botom-spacing">
                        <label class="block-element">Password</label>
                        <div class="icon-block"><input type="password" id="password" name="password"><a href="javascript:void(0);" class="eye-iconclose" id="eye_login1" title="View Password"></a></div>
                    </div>
                    <div class="form-group">
                        <label class="block-element">Confirm Password</label>
                        <div class="icon-block"><input type="password" id="password1" id="confirm_password" name="confirm_password"><a href="javascript:void(0);" class="eye-iconclose" id="eye_login" title="View Password"></a></div>
                    </div>
                    <div class="form-group">
<!--                        <a href="javascript:void(0);" title="Remember Me">-->
<!--                            <label class="custum-container login-chkmark">Remember Me-->
<!--                            <input type="checkbox">-->
<!--                            <span class="checkmark"></span>-->
<!--                            </label>-->
<!--                        </a>-->
<!--                        <a class="float-right blue-color" href="/forgot" title="Forgot Password">Forget Password?</a>-->
                    </div>
                    <div class="form-group"><button type="button" onclick="submit_form()" class="blue-btn">Change Password</button></div>
                    <div class="text-center lt-grey">
<!--                        Don't have account? <a href="javascript:void(0);" title="Sign Up" class="blue-color text">Sign Up</a>-->
                    </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-12 col-xl-6 pl-lg-0 pl-md-0 pl-sm-0 pl-0 pr-lg-0 pr-md-0 pr-sm-0 pr-0 right-img-sec h-100">
            <img src="/static/assets/images/login-iamts.jpg" width="960" height="1079" alt="Login-Banner">
        </div>
    </div>





</body>
<script src='{% static "assets/js/change_password.js" %}?v={% now "Y-m-dH:i:s"%}'></script>
<script>

</script>
</html>