<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no ">
    <title>IAMTS</title>
    <link href='{% static "assets/images/favicon.ico" %}' rel="icon" type="image/png" />
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/style.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/all.css" %}'>
    <link rel="apple-touch-icon" sizes="57x57" href='{% static "assets/images/apple-icon-57x57.png" %}'>
    <link rel="apple-touch-icon" sizes="60x60" href='{% static "assets/images/apple-icon-60x60.png" %}'>
    <link rel="apple-touch-icon" sizes="72x72" href='{% static "assets/images/apple-icon-72x72.png" %}'>
    <link rel="apple-touch-icon" sizes="76x76" href='{% static "assets/images/apple-icon-76x76.png" %}'>
    <link rel="apple-touch-icon" sizes="114x114" href='{% static "assets/images/apple-icon-114x114.png" %}'>
    <link rel="apple-touch-icon" sizes="120x120" href='{% static "assets/images/apple-icon-120x120.png" %}'>
    <link rel="apple-touch-icon" sizes="144x144" href='{% static "assets/images/apple-icon-144x114.png" %}'>
    <link rel="apple-touch-icon" sizes="152x152" href='{% static "assets/images/apple-icon-152x152.png" %}'>
    <link rel="apple-touch-icon" sizes="180x180" href='{% static "assets/images/apple-icon-180x180.png" %}'>
    <link rel="icon" type="image/png" sizes="196x196" href='{% static "assets/images/android-icon-196x196.png" %}'>
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "assets/images/favicon-32x32.png" %}'>
    <link rel="icon" type="image/png" sizes="16x16" href='{% static "assets/images/favicon-16X16.png" %}'>
    <link rel="icon" type="image/png" sizes="100x100" href='{% static "assets/images/favicon-100x100.png" %}'>
    <script src='{% static "assets/js/jquery.min.js" %}'></script>
    <script src='{% static "assets/js/jquery.validate.min.js" %}'></script>
    <script src='{% static "assets/js/popper.min.js" %}'></script>
    <script src='{% static "assets/js/bootstrap.min.js" %}'></script>
</head>
<body>

    <div class="row no-margin full-height justify-content-center h-100">
        <div class="col-lg-12 col-xl-6 pr-lg-0 pr-md-0 pr-sm-0 pr-0 pl-lg-0 pl-md-0 pl-sm-0 pl-0">
            <div class="outer-wrapper align-items-center d-flex">
                <div class="form-blk">
                    <div class="logo-section text-center">
                        <img src="/static/assets/images/sign-up.png" width="271" height="84" alt="IAMTS" class="img-fluid">
                    </div>
                   <form id="login_form" method="POST" class="user-form login-form">
                   <h1>Login to IAMTS</h1>
                      {% if messages %}
                        {% for message in messages %}
                            {% if message is not None %}
                                <div id="success-alert" class="cus-alert alert alert-danger alert-dismissible fade show {% if message.tags %} alert-{{ message.tags }} {% endif %}">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                                  {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.errors }}

                    <div class="form-group botom-spacing">
                        <label class="block-element">Email</label>
                        <div class="icon-block no-right-spc"><input type="email" placeholder="" name="email"></div>
                    </div>
                    <div class="form-group">
                        <label class="block-element">Password</label>
                        <div class="icon-block"><input type="password" id="password1" placeholder="" name="password"><a href="javascript:void(0);" class="eye-iconclose" id="eye_login" title="View Password"></a>
                        </div>
                    </div>
                    <div class="form-group">
                        
                            <label class="custum-container login-chkmark">Remember Me
                            <input type="checkbox" name="remember_me">
                            <span class="checkmark"></span>
                            </label>
                        
                        <a class="float-right blue-color" href="/forgot" title="Forget Password">Forget Password?</a>
                    </div>
                    <div class="form-group"><button type="submit" title="Login To IAMTS" class="blue-btn" value="Submit">Login To IAMTS</button></div>
<!--                    <div class="text-center lt-grey">-->
<!--                        Don't have account? <a href="javascript:void(0);" title="Sign Up" class="blue-color text">Sign Up</a>-->
<!--                    </div>-->
                    </form> 
                    
                </div>    
            </div>
        </div>
        <div class="col-lg-12 col-xl-6 pl-lg-0 pl-md-0 pl-sm-0 pl-0 pr-lg-0 pr-md-0 pr-sm-0 pr-0 right-img-sec h-100">
            <img src="/static/assets/images/login-iamts.jpg" width="960" height="1079" alt="Login-Banner">
        </div>
    </div>
    



<script src='{% static "assets/js/login.js" %}?v={% now "Y-m-dH:i:s"%}'></script>
</body>
</html>